body {
  margin: 0;
  padding: 0;
}
button {
  position: relative;
  outline: none;
  width: 300px;
  background: #7db500;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5000px;
  border: 1px solid #5a8200;
  transition: all 0.25s;
  margin: 0px;
  cursor: pointer;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #5a8200, 0px 8px 3px rgba(0, 0, 0, 0.3);
}
button:after {
  content: "";
  position: absolute;
  width: 95px;
  height: 45px;
  top: -1px;
  left: -1px;
}
button:active {
  transform: translate(7px, 0px);
  -webkit-transform: translate(0px, 7px);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 1px 0px #5a8200, 0px 2px 3px rgba(0, 0, 0, 0.3);
}
button:hover {
  background: #70a300;
}
img {
  border-radius: 18px;
}
p {
    color: #ffffff;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
#logo{
  position: absolute;
  margin: 0px;
  padding: 0px;
  bottom: 0px;
  left: 0px;
}
#tag{
  position: absolute;
  width: 250px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  bottom: 0px;
  right: 0px;
}